@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html{
	height: 100%;

}
body{
	background-color: lightgrey;
	font-family: 'Montserrat';
}

.logo {
	height: 200px;
	width: 200px;
}

.highlight {
	font-weight:bold;
	margin-top: 0px;
	color: gray;
}

.main{
	font-family:georgia,garamond,serif;
	font-style:italic;
	min-height: 100%;
	font-size:15px;
	margin: auto;
	width: 95%;
}

.button{

	height: 50px;
	font-size:15px;
	color: #ffffff;
	margin-top: 50px;
	padding-left: 25px;
	padding-right: 25px;
	background: #005699;
	border-radius: 10px 10px 10px 10px;
	font-family:georgia,garamond,serif;
}

.button:hover{
	height: 52px;
	color: #ffffff;
	padding-left: 27px;
	padding-right: 27px;
	background: #221b86;
	border-radius: 10px 10px 10px 10px;
}

#showcase{
	margin: auto;
	color: gray; 
	width: 70%;
	margin-top: 70px;
	text-align: center;
}


.wrapper {
	background-color: white;
	padding: 1em;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-gap: 1em;
	grid-auto-rows: minmax(100px, auto);
}

.wrapper .btn{
	float: right;
	margin-top: 20px;
	margin-right: 30px;
	background-color: rgb(80, 204, 171);
	color: white;
	padding: 10px 30px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	font-size: 14px;
	text-decoration: none;
	position: relative;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	}
	
	.wrapper .btn:hover{
	   background-color: rgb(62, 179, 148);
	  box-shadow: 0px 15px 20px rgba(62, 179, 148, 0.4);
	  color: #fff;
	  transform: translateY(-7px);
	}
	
.users{
	border-radius: 25px;
	border: 2px solid lightgrey;
  padding: 20px;
  width: 400px;
  height: 50px;
  grid-auto-rows: minmax(100px, auto);
}
.users img{
  border-radius: 50%;
  width: 70px;
 position: relative;
top: -10px;
float: left;
background-repeat:no-repeat;
  background-size:cover;
}
.users p{
	padding: 0px;
	margin-left: 90px;
	margin-top: 0px;
}
.userSide img{
position: relative;
bottom: -30px;
  border-radius: 70%;
  width: 150px;
  background-repeat:no-repeat;
  background-size:cover;
}
.userSide p{
padding: -40px;
margin-top: 40px;
}
.container{
	border-left: 1px solid black;
	padding-left: 30px;
}
.userSide input[type=submit]{
top: -40px;
margin-left: 85%;
background-color: rgb(80, 204, 171);
color: white;
padding: 10px 30px;
border: none;
border-radius: 15px;
cursor: pointer;
font-size: 14px;
text-decoration: none;
position: relative;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.userSide input[type=submit]:hover{
	 background-color: rgb(62, 179, 148);
  box-shadow: 0px 15px 20px rgba(62, 179, 148, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.scores{
  padding: 30px;
  width: 400px;
  height: 50px;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 300px;
}
.scores img{
  border-radius: 50%;
  width: 70px;
  position: relative;
  top: -10px;
  float: left;
}
.scores p{
	padding: 0px;
	margin-left: 90px;
	margin-top: 0px;
}
.scores hr{
	border: 2px solid lightgrey;
  border-radius: 5px;
}
.score{
	top: -70px;
left: 250px;
position: relative;
}

